.option-item{
    padding: 9px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    transition: 0.3s all ease-in-out;
    color: rgba(0, 0, 0, 0.700);
}
.navbar{
    background-color: #efefef !important;
    box-shadow: 2px 2px #d7cec7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-brand> i{
    font-size: 1.9rem;
    line-height: 20px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.750);
}
.navbar-brand> span{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.750);
}

.logout, .checkout{
    background-color: #d85c27;
    color: white;
}

.dropdown-menu{
    position: absolute;
    left: auto;
    right: 10px;
    top:auto;
    padding: 15px;
    width: fit-content;
}

.user-details .btn{
    padding: 0px !important;
    color: rgb(180, 4, 4);
}

.user-details:hover{
    background-color: white !important;
}

