td>button{
    border: none;
    margin: 10px;
    background-color: inherit;
}

.plus{
    padding: 10px; 
    border:1px solid gray; 
    color: rgba(0, 0, 0, 0.700);
    margin-bottom: 20px;
}

.plus:hover{
    color:black;
}

.wrapper{
    margin: 4.5rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #d7cec7;
}

.title{
    background-color: #d7cec7;
    width: 220px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.700);
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 93% 50%, 100% 100%, 0% 100%, 7% 50%);
    margin: 20px;
}
.search{
    padding: 10px;
    margin: 20px;
}