<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Want to know us more?</p>
    <hr class="my-4">
    <p>Read on and get to know us more!</p>
</div>

<div class="container">
    <section>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius itaque ad dicta molestias maiores, hic
            nesciunt deserunt aut repellendus esse commodi beatae veniam error tempora! Aperiam officia, minus quis hic
            magni tempora provident harum soluta placeat, exercitationem id nostrum repellat voluptatum! Exercitationem
            a dignissimos illo accusantium dolores qui quam in? Libero aperiam quas exercitationem dicta, qui distinctio
            minima facere voluptatum excepturi quo autem expedita magni! Sunt alias qui reprehenderit enim cupiditate?
            Suscipit asperiores, exercitationem nisi culpa consequatur molestiae hic non est quasi tempore voluptas
            dolorem repudiandae placeat architecto ipsa, provident veritatis necessitatibus iste eveniet similique
            repellendus libero deserunt. Voluptatibus id consequuntur aut esse sunt laborum quaerat excepturi harum eum
            rem! Earum praesentium dolore nobis neque necessitatibus non minima debitis laboriosam expedita. Odit
            maiores incidunt distinctio, molestias sit tempore. Rerum vel saepe libero nam sed nisi fugit voluptas
            dolor, obcaecati, ipsa ducimus? Animi soluta consectetur provident aspernatur amet tempora odit in ducimus
            dolorem nesciunt similique placeat, temporibus fugiat error, voluptatibus corporis eaque necessitatibus
            ullam illum dolores ipsam. Soluta eaque iure, repudiandae maiores consectetur ex deleniti repellat aliquam
            molestias quam atque odio? Distinctio voluptate asperiores odit possimus? Sint inventore veniam alias
            possimus sunt dolorum natus quod voluptate? Voluptatibus animi reiciendis praesentium.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis est dolore aliquam voluptatibus repellat
            maxime quas eaque facilis a illum? Tempora deserunt quibusdam odit quaerat amet. Repellendus magnam, placeat
            dignissimos officia sequi eaque delectus vel a voluptates omnis deserunt libero accusamus, commodi illum
            voluptatum doloribus quia est quisquam pariatur animi earum aliquam odio dolor illo. Nesciunt ipsam quasi
            iste quaerat?</p>
    </section>
</div>