
.wrapper{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
    width: fit-content;
}
.title{
    background-color: #d7cec7;
    width: 220px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.700);
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 93% 50%, 100% 100%, 0% 100%, 7% 50%);
    margin: 20px;
}
.title-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
td, th{
    padding: 10px 50px;
    text-align: center;
    vertical-align: middle;
}
