<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 form-wrapper">
            <h1 class="tagline">Welcome back,</h1>
            <p class="tagline">Login and find the books that make you smile!</p>
            <br />
            <br />
            <form [formGroup]="myForm" (submit)="Login()">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" name="Email" id="email" class="form-control" placeholder="Email" formControlName="email"
                         [(ngModel)]="cred.Email" [class.is-invalid]="email?.invalid && email?.touched">
                    </div>
                    <small class="text-danger" *ngIf="email?.errors?.['required'] && email?.touched">Email is required.</small>
                    <small class="text-danger" *ngIf="email?.errors?.['email'] && email?.touched">Enter valid email.</small>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" name="Password" id="pass" class="form-control" placeholder="Password" formControlName="password" 
                        [(ngModel)]="cred.Password" [class.is-invalid]="password?.invalid && password?.touched">
                    </div>
                    <small class="text-danger" *ngIf="password?.invalid && password?.touched">Password is required.</small>
                </div>
                <button type="submit" class="btn btn-dark form-control login" [disabled]="myForm.invalid">Login</button>
            </form>
            <button class="register">New User? Register here!</button>
        </div>
        <div class="col-lg-7 image">
            <img src="./assets/book3.jpg" alt="">
        </div>
    </div>
</div>
